html
{
/*background-color:rgb(46,52,54);
*/
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#dropdown {
  top: auto !important; }

body {
  font-family: Lato;
  background-color: #fcfcfc; }

:focus {
  outline: none; }

.hidden {
  display: none; }

.container {
  width: 80%; }

nav {
  background-color: #714AB4;
  height: 80px;
  line-height: 80px; }
  nav .button-collapse i {
    line-height: 80px;
    height: 80px;
    position: relative;
    right: 10px; }
  nav li {
    text-align: center; }
    nav li a#logo-container.brand-logo {
      height: 80px;
      line-height: 80px; }
    nav li a {
      font-size: 1.25rem;
      padding: 0 25px; }
  @media screen and (min-width: 601px) {
    nav .nav-wrapper i {
      line-height: 80px;
      height: 80px; }
    nav a.button-collapse {
      line-height: 80px;
      height: 80px; }
      nav a.button-collapse i {
        line-height: 80px;
        height: 80px; } }
